<div class="card text-bg-warning mb-3 text-center payment" style="max-width: 18rem;">
  <div class="card-header ">Thông báo</div>
  <div class="card-body">
    <h5 class="card-title">Phương thức thanh toán hiện tại không được hỗ trợ</h5>
    <p class="card-text"><a href="/">Quay lại</a></p>
  </div>
</div>