<div class="mt-4">
    <div class="row justify-content-center">
        <div class="col-3">
            <button  id="storage_add" type="button" class="btn btn-secondary">Add Shoes</button>
        </div>
    </div>
</div>
<script>
    document.getElementById("storage_add").addEventListener("click",()=>{
        window.location.replace("/storage/add");
    })
</script>
